venv/
**/__pycache__
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
# Игнорировать результаты тестирования
/test_results/

# Игнорировать файлы резервных копий
*.bak
*.backup

# Игнорировать файлы с конкретным расширением
*.zip
*.tar.gz

.env

/storage/public/*

vm/